<div class="object-collection-container__circle">
    <div class="object-collection-container__circle-items">
        <div class="object-collection-container__circle-item">{{ object.model.title }}</div>
        <div class="object-collection-container__circle-item">{{ object.model.description }}</div>
    </div>
</div>
