<div class="object-collection-container__octagon">
    <div class="object-collection-container__octagon-items">
        <div class="object-collection-container__octagon-item">{{ object.model.title }}</div>
        <div class="object-collection-container__octagon-item">{{ object.model.description }}</div>
    </div>
</div>
