<div class="object-collection-container__rectangle">
    <div class="object-collection-container__rectangle-items">
        <div class="object-collection-container__rectangle-item">{{ object.model.title }}</div>
        <div class="object-collection-container__rectangle-item">{{ object.model.description }}</div>
    </div>
</div>
