<div class="object-collection-container__star">
    <div class="object-collection-container__star-items">
        <div class="object-collection-container__star-item">{{ object.model.title }}</div>
        <div class="object-collection-container__star-item">{{ object.model.description }}</div>
    </div>
</div>
